data/cdc_le_2010-2015/U.S._Life_Expectancy_at_Birth_by_State_and_Census_Tract_-_2010-2015.csv filter=lfs diff=lfs merge=lfs -text
data/states/Minnesota.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Iowa.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Connecticut.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/New_Mexico.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Maryland.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Missouri.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Oregon.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/California.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/New_York.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Arkansas.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Colorado.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/New_Jersey.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Idaho.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Vermont.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Wyoming.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Mississippi.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/West_Virginia.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Alaska.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Massachusetts.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Nevada.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Georgia.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Arizona.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Utah.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Nebraska.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Tennessee.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Kentucky.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/North_Carolina.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Alabama.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Florida.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Ohio.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Rhode_Island.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/New_Hampshire.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Michigan.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Illinois.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Delaware.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Washington.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Montana.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Wisconsin.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Louisiana.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Texas.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Hawaii.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/District_of_Columbia.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/South_Carolina.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/South_Dakota.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Indiana.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Kansas.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Oklahoma.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/North_Dakota.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Maine.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Virginia.xlsx filter=lfs diff=lfs merge=lfs -text
data/states/Pennsylvania.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Connecticut.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Iowa.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Delaware.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Massachusetts.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Wyoming.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Maine.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Arkansas.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Alaska.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Mississippi.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Colorado.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/South_Dakota.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Indiana.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Florida.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/North_Carolina.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Illinois.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Vermont.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/California.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Oregon.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Utah.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Pennsylvania.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Arizona.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Michigan.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Washington.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Kansas.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Tennessee.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Wisconsin.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Kentucky.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/North_Dakota.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Alabama.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/New_York.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/West_Virginia.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Georgia.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Hawaii.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/South_Carolina.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Montana.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Oklahoma.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/District_of_Columbia.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Ohio.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Nevada.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Missouri.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Louisiana.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Maryland.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Rhode_Island.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Virginia.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Texas.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Nebraska.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Minnesota.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/Idaho.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/New_Jersey.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/New_Mexico.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2020/New_Hampshire.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Louisiana.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/New_Hampshire.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Utah.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Connecticut.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Illinois.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Tennessee.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Alaska.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/North_Carolina.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Kentucky.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Oklahoma.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Vermont.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Idaho.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Nevada.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Wisconsin.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Colorado.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Wyoming.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Rhode_Island.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/New_Jersey.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Hawaii.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Montana.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Arkansas.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Indiana.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Ohio.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Missouri.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Iowa.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/California.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Nebraska.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Texas.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Washington.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Michigan.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Delaware.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Mississippi.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Alabama.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Arizona.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Maine.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Oregon.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Virginia.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Massachusetts.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/North_Dakota.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Kansas.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/South_Dakota.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Minnesota.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Florida.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Georgia.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Pennsylvania.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/New_York.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/Maryland.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/New_Mexico.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/West_Virginia.xlsx filter=lfs diff=lfs merge=lfs -text
data/rwjf_2022/South_Carolina.xlsx filter=lfs diff=lfs merge=lfs -text
